
node_modules/


.env
.env.local
.env.*.local


*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*


.DS_Store
Thumbs.db


.vscode/


.idea/
*.suo
*.ntvs*
*.njsproj
*.sln


dist/
build/


uploads/
coverage/


ss/dist/
ss/dist-ssr/


backend/.env
backend/uploads/


ss/frontend/.env
ss/frontend/node_modules/
